
		/***** Responsive Media Queries *****/
		/**** X-SMALL ****/
		@media all and (min-width: 320px) and (max-width:479px) {
			p {
				font-size: 1.2em;
			}
			.contact-link {
				font-size: 1em;
			}
			#content {
				margin-left: 1em;
				margin-right: 1em;
			}
			.siding-type {
				margin-top: 1em;
			}
			.siding-type h2,
			.siding-type p {
				max-width: 275px;
				margin-right: auto;
				margin-left: auto; 
				padding-left: 30px;
				padding-right: 30px;
			}
			.siding-type-img {
				text-align: center;
				padding-top: 1em;
				margin-bottom: 0;
			}
			.news .feed-item {
				margin-bottom:1em;
			}
			footer {
				margin-left: 1em;
				margin-right: 1em;
			}
			footer nav .menu {
				font-size: 1em;

			}
			footer nav .menu-item {
				display: block;
			}
			footer nav .menu-item a {
				display: block;
				padding-top: .5em;
				padding-bottom: .5em;
			}
			footer .description {
				font-size: 1em;
			}
			.logo-sg {
				text-align: right;
			}
			.company-particulars {
				font-size: 1em;
				line-height: 1.5em;
				margin-top: 1em;
			}
		}
		/**** SMALL ****/
		@media all and (min-width: 480px) and (max-width: 767px) {
			p {
				font-size: 1em;
			}
			.contact-link {
				font-size: 1em;
			}
			#content {
				margin-left: 1em;
				margin-right: 1em;
			}
			.siding-type {
				margin-top: 1em;
			}
			.siding-type h2,
			.siding-type p {
				max-width: 275px;
				margin-right: auto;
				margin-left: auto; 
				padding-left: 30px;
				padding-right: 30px;
			}
			.siding-type-img {
				text-align: center;
				padding-top: 1em;
				margin-bottom: 0;
			}
			.news .feed-item {
				margin-bottom:1em;
			}
			footer {
				margin-left: 1em;
				margin-right: 1em;
			}
			footer nav .menu {
				font-size: 1em;
				width: 100%;
			}
			footer nav .menu-item {
				display: inline-block;
				width:48%;
				text-align: center;
				background-color:#ccc;
				border-radius: 5px;
			}
			footer nav .menu-item a {
				display: block;
				padding: .5em 0;
			}
			.logo-sg {
				text-align: right;
			}
			.logo-sg img {
				width: 140px;
			}
			.company-particulars {
				font-size: 1em;
				line-height: 1.5em;
				margin-top: 1em;
			}
		}
		/**** MEDIUM ****/
		@media all and (min-width: 768px) and (max-width: 1023px) {
			p {
				font-size: 1em;
			}
			.contact-link {
				font-size: 1em;
			}
			#content {
				margin-left: 1em;
				margin-right: 1em;
			}
			.siding-type-wrapper {
				display: block;
				clear: both;
				overflow: auto;
			}
			.siding-type {
				margin-top: 1em;
				width: 50%;
				float: left;
			}
			.siding-type h2,
			.siding-type p {
				max-width: 275px;
				margin-right: auto;
				margin-left: auto; 
				padding-left: 30px;
				padding-right: 30px;
			}
			.siding-type.last {
				clear: left;
				width: 95%;
			}
			.siding-type-img {
				text-align: center;
				padding-top: 1em;
				margin-bottom: 0;
			}
			.news .feed-item {
				margin-bottom:1em;
				display: block;

			}
			footer {
				margin-left: 1em;
				margin-right: 1em;
			}
			footer nav .menu {
				font-size: 1em;
				width: 100%;
			}
			footer nav .menu-item {
				display: inline-block;
				width:48%;
				text-align: center;
				background-color:#ccc;
				border-radius: 5px;
			}
			footer nav .menu-item a {
				display: block;
				padding: .5em 0;
			}
			.logo-sg {
				text-align: right;
			}
			.logo-sg img {
				width: 140px;
			}
			.company-particulars {
				font-size: 1em;
				line-height: 1.5em;
				margin-top: 1em;
			}
		}
		/**** LARGE ****/
		@media all and (min-width: 1024px) {
			.contact-link {
				font-size: .9em;
			}
			.hero-img {
				width:100%;
			}
			#content {
				max-width: 1024px;
				margin-left: auto;
				margin-right: auto;
				padding-left: 1em;
				padding-right: 1em;
			}
			.siding-type-wrapper {
				display: block;
				clear: both;
				overflow: auto;
			}
			.siding-type {
				margin-top: 1em;
				width: 32%;
				float: left;
				margin-right: 10px;
			}
			.siding-type.last {
				margin-right: 0;
			}
			.siding-type h2,
			.siding-type p {
				max-width: 335px;
				margin-right: 30px;
				margin-left: 30px; 
			}
			.siding-type-img {
				text-align: center;
				padding-top: 1em;
				margin-bottom: 0;
			}
			.siding-type-img img {
				max-width: 327px;
			}
			.news .first {
				border-right: 1px solid black;
				padding-right: 5px;
			}
			.news .feed-item {
				margin-bottom:1em;
			}
			footer {
				padding:0 1em;
			}
			footer nav .menu {
				font-size: .8em;
			}
			footer .menu .menu-item {
				float: left;
				padding: 1px 5px ;
				border-right:1px solid #004772;
			}
			.newline {
				margin-left: 12%;
			}
			.logo-sg {
				text-align: right;
				padding-top: 1em;
			}
			.description {
				font-size: .8em;
				max-width: 80%;
			}
			.company-particulars {			
				font-size: .8em;
			}
		}
		@media all and (min-width: 1024px) and (max-width: 1066px) {
			.siding-type-img img {
				max-width: 317px;
			}
		}
